@use '../../../styles.scss' as *;

.breadcrumb-nav {
  padding: calc($spacing-unit * 2) 0;
  max-width: 1400px;
  margin: 0 auto;
}

.breadcrumb-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumb-item {
  display: flex;
  align-items: center;
}

.breadcrumb-link {
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    color: $palette-lightest;
    text-decoration: underline;
  }
}

.breadcrumb-separator {
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
  color: $palette-medium;
}

.breadcrumb-current {
  cursor: default;
}
