@use '../../../styles.scss' as *;

.search-field {
  width: 25em;

  ::ng-deep {
    .mat-mdc-text-field-wrapper {
      background-color: $palette-dark;
    }

    .mat-mdc-form-field-focus-overlay {
      background-color: transparent;
    }

    // Border colors
    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      border-color: $palette-medium !important;
    }

    // Focused state
    .mat-mdc-form-field.mat-focused {
      .mdc-notched-outline__leading,
      .mdc-notched-outline__notch,
      .mdc-notched-outline__trailing {
        border-color: $palette-light !important;
      }
    }

    // Label
    .mdc-floating-label {
      color: $palette-light !important;
    }

    .mat-mdc-form-field.mat-focused .mdc-floating-label {
      color: $palette-light !important;
    }

    // Input text
    .mat-mdc-input-element,
    input.mat-mdc-input-element {
      color: $palette-lightest !important;
      caret-color: $palette-light !important;
      -webkit-text-fill-color: $palette-lightest !important;

      &::placeholder {
        color: $palette-light !important;
      }
    }

    // Icons
    .mat-icon {
      color: $palette-light;
    }

    // Clear button
    .mat-mdc-icon-button {
      &:hover {
        .mat-icon {
          color: $palette-lightest;
        }
      }
    }
  }
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}